.post-item{
  width: 90%;
  margin-bottom: 40px;
  @media(min-width: 768px) {
    max-width:calc(50% - 20px);
  }
  @media(min-width: 576px) {
    width: 80%;
  }
}

.post-item img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  box-sizing: border-box;
  border:8px solid $img-border-color;
  box-shadow: $img-box-shadow;
  transition: box-shadow 200ms;
  &:hover{
    box-shadow: $img-box-shadow-hover;
  }

}
