@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.header {
  display: block;
  width: 100%;
  text-align: center;
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
}

.post-item {
  width: 90%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .post-item {
    max-width: calc(50% - 20px);
  }
}

@media (min-width: 576px) {
  .post-item {
    width: 80%;
  }
}

.post-item img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

