
// Body
$body-bg: #fff;

$header-bg: #f5f8fa;

$header-border-color: rgba(51,51,51,.05);

$spinner-color: #20b6f7;


$link-color: #666;
$link-color-hover: #999;

$img-border-color: #fff;
$img-box-shadow: 0 0 0 2px #f0f0f0;
$img-box-shadow-hover: 0 0 0 2px rgba(32, 182, 247, 0.3);
